<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Elements - Alpha by HTML5 UP</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/jquery.scrollgress.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<script src="group.js"></script>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-wide.css" />
			
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><a href="">Megh</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="#">Hi {{.}}</a></li>
						<li><a href="/elements">My Page</a></li>
						<li>
							<a href="" class="icon fa-angle-down">Layouts</a>
							<ul>
								<li><a href="generic.html">Generic</a></li>
								<li><a href="contact.html">Contact</a></li>
								<li><a href="elements.html">Elements</a></li>
								<li>
									<a href="">Submenu</a>
									<ul>
										<li><a href="#">Option One</a></li>
										<li><a href="#">Option Two</a></li>
										<li><a href="#">Option Three</a></li>
										<li><a href="#">Option Four</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="/logout" class="button">Logout</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="container">
				<header>
					<h2>Groups</h2>
				</header>
				<div class="row">

					<div class="12u">
					<form method="post" action="/creategroup">
						
						<div class="row uniform half">
							<div class="12u">
							<input type="text" name="message" value="" placeholder="Enter Group name" />
							
							</div>
						</div>
						<br>
						<input type="submit" value="Create Group" />	
						</form>

						<div class="row collapse-at-2">
					<div class="3u">
										<ul class="actions vertical">
										<select class="form-control" id="addgroups">
										    
										    
										</select>
										
										</ul>
									</div>

					<div class="9u">

						<!-- Text -->
							<section class="box">
							<form id="uploadform" method="POST" action=""  enctype="multipart/form-data" hidden>
							    <fieldset>
							    <input type="file" id="uploadfile" name="file" placeholder="Upload file" />
							      
							      <input type="button" id="groupfilesubmit" value="Upload" />
							    </fieldset>
							  </form>


								<form method="post" action="">
									
									<div class="row uniform half">
										<div class="12u">
										<input type="text" id="groupmessage" name="message" value="" placeholder="Enter your message" />
										
										</div>
									</div>
									<br>
									<input type="button" id="groupsubmit" value="Send" />	
									<input type="button" id="filebutton" value="Upload file" />	
									</form>

							<table class="table">
							    <tbody id="k">

							    
							    </tbody>  
							    </table>
								
							</section>
							</div>
					</div>
				</div>
			</section>
			
		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
					<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
					<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</footer>

	</body>
</html>